body{background-color:#f6f6f6;}
p{font-size:19px;}
span{font-size:19px;}
li small{font-size:15px;}
.bgLight{background-color:#f8f8f8}
.bgDarker{ background-color:#f1f1f1}
.bgLight{background-color:#f8f8f8}
.bgWhite{background-color:#ffffff}
.smallBorder{border:1px solid #a8a8a8;padding:10px}
.littleMarginTop{margin-top:15px}

smallBorder div{margin:0px;}
h2{margin-left:16px;}
h5{margin:11px;padding:10px;}
#divForMotto{margin-right:20px}
#monkey{margin-left:20px}
p{text-align:justify}
#littleInfo{margin:0px; padding: 10px 10px 10px 30px; border:1px solid #a8a8a8; background-color:#f1f1f1}
.setting1{margin:0px 0px 20px 0px;padding: 10px 10px 10px 30px; border:1px;border:1px solid #a8a8a8; background-color:#f1f1f1;}
#word{font-weight:bolder}
#pageInput{width:90px;margin-bottom:11px;}    
#wordLength{width:50px}
#consoleInfo{font-size:11px}
#pages{max-width:200px;height:800px;margin:0px 0px 0px -14px; padding: 10px 0px 10px; border:1px solid #a8a8a8; background-color:#f1f1f1; text-align:center;padding:5px;}
#wordTable{text-align:center; font-size:13px;}
.btnMargin{margin-bottom:10px;}
.searching{margin:1px 1px 5px 1px}
#volumeInfo{font-size:12px;}
#please{margin-bottom:8px;}
#result td{ vertical-align:center; margin:0px;padding:5px;}
#result button{ margin:4px; }S
#result p{ margin:5px; padding:1px }
#hossz button{margin:0px}
#hossz p{margin:0px}
#result{margin: 0px 0px 40px}
.result{background-color:#f6e4f7}
#forTest{padding:0px 0px 0px 0px;margin:10px 0px 0px 0px;}
#forTest input{margin:0px 10px 0px 0px;max-width:100px}
#forTest label{margin:0px}
#howManyWords p{margin:10px 0px 0px 0px;}
#forTest label p{margin-top:0px}
#howManyWordsButton{margin:0px 0px 3px 0px;}
#howManyLettersRow{overflow:auto; padding:5px;border:1px solid #a8a8a8; background-color:#f1f1f1;}
#howManyLetters tr{background-color:#f6e4f7}
row{margin:10px 0px 0px 10px; padding:0px}
.form{margin:0px;padding:0px}
label{margin:0px 0px 0px; padding:0px 0px 0px 0px;}
#szohossz{margin:0px 0px 0px;padding:20px 0px 20px 0px;}
#searchEngines{display:inline}
#wordTable tr:first-child{height: 25px}
.needMarginRight{margin-right:10px}
#displayMatchingList{overflow:auto;height:100px;border:1px solid #a8a8a8;margin:5px 0px 5px 0px;padding:5px}
#explantation{border:1px solid #a8a8a8;background-color:#f0f0f0;}
#forTable{overflow:auto;height:400px;border:1px solid #a8a8a8;background-color:#dbdbdb;border-spacing:0px;margin-bottom:15px;}
#graphic{overflow:auto;border-collapse:initial;border-spacing:1px; min-height:400px;}
#graphic td{border:none; width:1px;height:3px;}
#allDistribution{max-height:340px; overflow:auto; margin:0px 15px 10px;border:1px solid #a8a8a8;padding:10px; background-color:#cbe7cb}
#allDistributionButtons{margin-left:15px}
#forTableSecond{overflow:auto;height:150px;margin-bottom:15px;border:1px solid #a8a8a8;background-color:#dbdbdb;border-spacing:0px;}
#graphicSecond{height:min-content;}
#graphicSecond td{border:none;width:3px;height:3px;}
.loopInfo{font-size:11px}
#generatedWord{background-color:#FADADD}
#send-data{margin-bottom:0px}
#notations{display:inline;}
#notations td{padding:6px;}
#divForNotations{overflow:auto;border:1px solid #a8a8a8;background-color:#dbdbdb;max-height:300px;max-width:300px;}
#divForSentence{min-height:100px;}
#sentence{background-color:#FADADD}
#match100div p{margin:0px}
#match100div button{margin:10px 0px 10px 10px}
#match100div label{margin:10px 0px 10px 10px}
#match100div input{margin:10px 0px 10px 10px}
#displaySeries{margin:10px}
#match100div span{margin:10px 0px 10px 10px}
.littlePaddingBottom{padding-bottom:8px}
#wrapping0Col{width:auto;z-index:1}
#matchControl{padding:10px 10px 1px 10px;background-color:#dfdfdf;}
#checkRunDiv label{margin-left:15px}
#checkRunDiv input{margin-left:15px}
#checkRunDiv button{margin-left:20px}

.forTableGraphic2{padding:0px 15px 0px 15px}
.littleImgRight{margin:10px 0px 0px 15px}

#wrapping0Col .row{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
#wrapping0Col p{padding:0px; margin:5px;}
#wrapping0Form{width:200px}
#wrapping1Form{width:200px;height:px}
#wrapping2Form{width:200px;height:px}
button[name='chooseGraph']{margin:5px;}
button[name='arrow']{width:35px;height:35px;margin:7px;padding:0px;font-size:20px;}
button[name='backToStart']{width:35px;height:125px;}
button[name='rising']{width:35px;height:35px;margin:8px;padding:5px;}
#jump0{margin:10px}
.wrapping{border:1px solid #a8a8a8;padding:10px;background-color:#cbe7cb}
.wrapping .row{margin:0px;}
.wrapping p{margin:5px}
.wrapping input{margin:3px}
.wrapping button{margin:5px;}
.infoAboutJump{line-height:14px;font-size:14px;}
#alapbeallitas{margin:0px 0px 15px 15px}
#infoAboutCol{font-size:13px;}
#kindOfDistributions h5{margin-bottom:20px}
#kindOfDistributions{margin-bottom:20px;}
#notNiceDistribution{margin-bottom:20px;}
#notNiceDistribution img{margin:0px 15px 10px 0px}
rowForFullDistribution{border:solid 1px #a8a8a8;padding:10px}

#distributionButtons{margin:0px;}
#distributionButtons button{margin:10px 10px 15px;min-width:60px;height:33px;}
#distributionButtons [name='arrow']{font-size:25px;line-height:1px;padding:0px 0px 3px}
#rowForFullGraph{margin:0px;border:solid 1px #a8a8a8;padding:10px;}
#forFullTable{overflow:scroll;margin:0px 0px 0px;width:auto;height:300px;border:1px solid #a8a8a8;background-color:#dbdbdb;border-spacing:0px;}
#fullGraphic{border-collapse:initial;min-height:280px;width:max-content}
#fullGraphic td{border:none; width:10px;height:10px;}
#rowForFullDistribution p{margin:0px}
divForDistanceTable{border:1px solid #8a8a8a; padding:10px;}


#colForDistributionDistanceTable{min-height:100px;max-height:340px}
#colForDistanceMatrixTable2{min-height:100px;max-height:340px;margin:0px}


#colForDistanceTable{min-height:100px;max-height:340px; padding:10px; border:1px solid #a8a8a8;overflow:auto;background-color:#cbe7cb;}
#divForShowDistanceGraph{border:1px solid #a8a8a8;padding:10px}
#colForDistanceGraph{overflow:auto;min-width:600px;height:400px;}
#distanceGraph{overflow:auto;min-width:600px;height:400px;width:max-content;background-color:#dbdbdb}
#distanceGraph td{width:3px;height:3px;border:solid 1px #dbdbdb}
#distGraphEstimateTime{background-color:#7ee4e4}
.colForTable{min-height:100px;max-height:340px; padding:10px; border:1px solid #a8a8a8;overflow:auto;background-color:#cbe7cb;}
.colForBorder{border:1px solid #a8a8a8;padding:10px}
.colForTable{margin:10px;padding:10px;}
#rowForDistributionDistanceTable2{margin:1px}
button[name='arrow2']{width:80px;height:35px;font-size:15px;padding:0px;margin:10px;}
.colForSimulatedBook{padding-top:15px;height:470px;margin:3px;border:1px solid #a8a8a8;background-color:#f0f0f0;}
.simulatedBook{width:130px}
.simulatedBook p[name='0']{margin:20px 0px 25px 0px;}
.simulatedBook p[name='21']{margin:20px 0px 0px 0px;}
.simulatedBook p{margin:10px;text-align:center;font-size:12px;line-height:10px}
#simulatedPageInput{width:100px}
.simulationRow{margin:10px}
.simulationCol button{margin:1px;}
.simulationCol input{margin-bottom:10px;}
.simulationCol p{margin:1px}
.simulationCol p{margin:1px;text-align:center}
.simulationCol small{margin:1px}
.simulationCol p{margin:1px;text-align:center}
.simulationCol small{margin:1px}
#exampleForGauss{background-color:#ffe7d3}
.Gauss{margin-right:15px}
.imgMarginLeft{margin-left:15px}
#problemRow{padding:10px 10px 0px 10px;border:1px solid #a8a8a8}

.divForGraphic{margin:10px 0px 0px 15px;overflow:scroll;max-width:600px;}
.tableGraphic{margin:0px;border-collapse:separate;border:solid 1px #a8a8a8;width:max-content; min-width:600px; height:auto;min-height:100px;max-height:100px;background-color:#dbdbdb;}
.tableGraphic td{width:1px;}


.rowBorder{margin:10px;padding:20px;border:1px solid #a8a8a8;}
.innerBorderWithPink{margin:10px;padding:20px;border:1px solid #a8a8a8;background-color:#ffe7d3;}
.rowBackgroundLight{background-color:#fcfcfc;};

#run100-button{margin:5px}
#twoLetters{margin:6px}
#threeLetters{margin:6px;}

#test1{border-collapse:separate;}
#test1 td{width:10px;}
#run100FirstButton{margin:0px 20px 5px;padding:px;}
#infoForRun100FirtsButton{margin:1px;padding:1px}
#charNumberForTest{width:50px}
#runningNumberForTest{width:70px}
#letsRun100{margin:10px}
#divForRunning100{padding:10px 10px 10px;margin:0px 5px 20px;border:solid 1px ;background-color:#dbdbdb;}

.try{margin: 0px 10px 15px 0px}
#run100Button{display:block;margin:25px 0px 15px 0px;}
#vartMaximum{margin-top:15px}

#divForFinalString{overflow:auto; width:501px;height:290px;background-color:#dbdbdb;}}
#placeForFinalString{width:500px;height:290px}
#divForFinalWords{overflow:auto; max-width:800px;height:310px;background-color:#dbdbdb;}}
#placeForFinalWords{width:500px;height:290px}

#divForKetBetus{overflow:auto;max-width:900px;height:103px}

#divForHaromBetus{overflow:auto;max-width:900px;height:103px}

#divForNegyBetus{overflow:auto;max-width:900px;height:103px}

.ennyiBetusDiv{overflow:auto;max-width:900px;height:103px;}
#hosszabbakBelseje p{margin:15px 0px 0px 0px}
#hiddenEmptiness{height:100px; overflow:auto;}

#divForDistributionDistanceGraph{overflow:auto;width:900px;height:200px;background-color:#dbdbdb}
#distributionDistanceGraph td{border:solid 1px #dbdbdb;}

#divForLetterSkip{overflow:auto;height:500px}
#tableForLetterSkip{height:500px}
#divForFoundWords{overflow:auto;height:250px}

































































































































































